body{
  margin: 0;

}
h1{
  font-size: 7rem;
  color: white;
 
}

.scroll-reveal span{
  color:hsl(0 0% 100%/0.2);
  font-size: 1.5rem;
  padding: 2rem;
  background-image: linear-gradient(90deg,green,black);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 25% 100% ;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}
.scroll-reveal p span{
  animation-range-start: cover 10vh;
  animation-range-end: cover 40vh;
}
@keyframes scroll-reveal{
  to{background-size: 100% 100%;
  }
}
.content{
  background-color: white;
  padding: 30px;
  
}
.wrap{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
.bann{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.m,.t{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;

}
.m{
  transform: translateZ(-10px) scale(2);
}
.t{
  transform: translateZ(-10px) scale();
}